@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsLightItalic_1.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - The Seasons';
    src: url('FONTSPRINGDEMO-TheSeasonsLightRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

