@font-face {
    font-family: 'TheSeasonsLightItalic';
    src: url('../../MVC_Musique/fonts/TheSeasons/FONTSPRINGDEMO-TheSeasonsLightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TheSeasonsLight';
    src: url('../../MVC_Musique/fonts/TheSeasonsLight/FONTSPRINGDEMO-TheSeasonsLightRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
  


@font-face {
    font-family: 'BodoniModaItalic';
    src: url('/BodoniModa-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'BodoniModa';
    src: url('../../MVC_Musique/fonts/test/BodoniModa-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


  

.Titre_Accueil h1 {
    padding-top: 5%;
    font-family: 'TheSeasonsLightItalic';
    font-size: 111px;
    font-weight: 500;
}

.Titre_Accueil p {
    font-family: 'TheSeasonsLight';
    padding-left: 40%;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5rem;
}

.Titre_Accueil hr {
    width: 111%; /* Ajustez cette valeur pour contrôler la longueur de la barre horizontale */
    border: 1px solid; /* Ajustez la couleur et l'épaisseur de la barre horizontale */
    margin: 10px 0; /* Ajustez les marges autour de la barre horizontale */
   
  }
  
  

.lien_Connexion a {
    font-family: 'Lora';
    font-size: 19px;
    color: black;
    text-decoration: none;
    padding-left: 36%;
  }

  .lien_Connexion a:hover {
    text-decoration: underline; /* Ajoute un soulignement au lien lorsqu'il est survolé */
  }

.Message_Intranet p{
    font-family: 'Montserrat';
    font-weight: 1000;
    padding-top: 30%;
    padding-left: 17%;
    font-size: 16px;
    
}

.musique-image {
    padding-left: 20%;
    padding-top: 7%;
    height:102%; /* Conserve le ratio hauteur/largeur de l'image */
    
    
  }


/* --------------- Deuxieme page ----------------- */

h1.text-center {
    padding-top: 1%;
    font-family: 'Lora', sans-serif;
    font-weight: 600;
  }
  
  .form-control, .form-text {
    font-family: 'Lora', sans-serif;
  }

  .form-group label {
    font-family: 'Lora', serif;
    font-weight: 1000;
  }

  .connexion-bg {
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%233C4846'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-29.05 -1.1999999999999993) rotate(-2.8499999999999996 1409 581) scale(0.9685379999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-46 25) rotate(0.5 800 450) scale(0.998958)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0.09999999999999964 -12) rotate(-2 401 736) scale(0.998958)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(150 4) rotate(-1 150 345) scale(1.002846)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-23 -69.5) rotate(-10.799999999999997 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-71.6 16.4) rotate(-1.8000000000000007 1400 132) scale(0.93)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  
/* --------------- Troisieme page ----------------- */

.navbar-brand {
  font-family: "Times New Roman", Times, serif;
  }

  .btn-container1 {
    display: flex;
    margin-top: 1rem;
  }
  
  .btn1 {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #DFE3E6;
    border: none;
    color: #000;
    font-size: 1.1rem;
    font-family: 'Lora', serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn1:hover {
    background-color: #c2c6c9;
    color: #000;
    text-decoration: underline;
  }
  
  .btn1:focus {
    outline: none;
  }
  
  .btn1:active {
    background-color: #b3b7ba;
  }
  

  .welcome-banner {
    background-color: #DFE3E6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%; /* Ajustez cette valeur pour modifier la largeur de la div */
    height: 200px; /* Ajustez cette valeur pour modifier la hauteur de la div */
    margin: 20px auto; /* Centre la div horizontalement et ajoute un espace au-dessus et en dessous */
}

.welcome-banner h1 {
    font-family: 'Lora', serif;
    font-size: 80px; /* Ajustez cette valeur pour modifier la taille de la police */
}










  
  
  .card {
    border: 8px solid #DFE3E6;
    font-family: 'Lora', serif;
    border-radius: 0%;
    margin-right: 15%;  
}
  
  .container1 {
      margin-top: 5%;
  }
  
  
  table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
  }
  
  th, td {
    
    padding: 8px;
  }
  
  th {
    background-color: #8B0000;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #FFE4E1;
  }
  
  tr:hover {
    background-color: #FFC0CB;
  }
  
  tbody td {
    text-align: center;
  }
  
  @media only screen and (max-width: 600px) {
    table {
      width: 100%;
    }
    
    th {
      font-size: 14px;
    }
  
    td {
      font-size: 12px;
    }
  }
  
  .cardInfo {
    border: 8px solid #DFE3E6;
    width: 25%;
    padding-top: 2%;
    padding-left: 2%;
    margin-left: auto;
    margin-right: auto;

  }

.bouttonPdf{
  background-color: #3a3a3a; 
  color:#ffffff; 
  border-radius: 0;
  border: none;
  }